<%- include ('./partials/nav'); %>

<main>
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Registro</h2>
                <form method="post" action="/guardar">
                    <div class="mb-3">
                        <label for="cedula" class="form-label">Cedula</label>
                        <input type="number" class="form-control" id="cedula" placeholder="Digite su cedula" name="cedula">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Digite su nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" placeholder="Digite su apellido" name="apellido">
                    </div>
                    <div class="mb-3">
                        <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="fecha_nacimiento" name="fechaNacimiento">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="number" class="form-control" id="telefono" placeholder="Digite su telefono" name="telefono">
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="direccion" placeholder="Digite su direccion" name="direccion">
                    </div>
                    <div class="mb-3">
                        <label for="rol" class="form-label">Tipo Usuario</label>
                        <select class="form-select" aria-label="Default select example" name="rol" id="rol">
                            <option selected>Seleccione una opcion</option>
                            <option value="Vendedor">Vendedor</option>
                            <option value="Comprador">Comprador</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Digite su email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="contrasena" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="contrasena" placeholder="Digite su contraseña" name="contrasena">
                    </div>

                    <button type="submit" class="btn btn-primary d-grid gap-2 mx-auto">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include ('./partials/footer'); %>