<footer class="mt-4">
    <div class="col mb-1">
        <h6>Acerca de nosotros</h6>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Contactanos</a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Preguntas Frecuentes</a>
            </li>
        </ul>
    </div>
    <div class="col mb-1">
        <h6>Legales</h6>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Aviso Legal</a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Terminos y Condiciones</a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Politicas de tratamiento de datos</a>
            </li>
        </ul>
    </div>
    <div class="col mb-1">
        <p>COVENBIINS</p>
        <p class="text-muted">NIT: 896-693-412-5</p>
        <p class="text-muted">cra 54 #35-67 Medellin</p>
        <p class="text-muted">© 2023</p>
    </div>
</footer>